[Unit]
Description=Raspberry Pi File Transfer Server
After=network.target network-online.target
Wants=network-online.target

[Service]
# Replace 'pi' with your actual username if different
# User=charan (Restored)
User=charan
WorkingDirectory=/home/charan/raspberry_script/pi_share_v2
Environment="PATH=/home/charan/raspberry_script/pi_share_v2/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/charan/raspberry_script/pi_share_v2/venv/bin/python project/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
